motorName: exampleMotor
# The name of the motor
motorType: TalonSRX
# Can be TalonSRX, VictorSPX, or any other motor type specified in the motorLoader.java file
#Currently only configured for TalonSRX
MotorPort: null
# Set to port number on CAN controller
System: ExampleSytem
# Set to the system this motor is a part of (can be null)
loaded: false
# ignore this
